* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: "Playpen Sans", "Comic Sans MS", cursive;
}

.topBarCalendar {
    border: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.calendar-containter {
    border: 2px solid black;
    padding: 15px;
    height: 20%;
}

.row1 {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    scrollbar-gutter: stable;
    border-bottom: 1px solid black;
}

.row1 div {
    border-left: 1px solid black;
    padding: 12px 0;
    width: 100%;
    /*Centering the days of the week text*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Can not just target .corner because of specificity*/
/*38.969 x 30*/
.row1 .corner {
    width: 15%;
}

.corner span {
    visibility: hidden;
}

.row2 {
    display: flex;
    height: 80dvh;
    overflow-y: scroll;
    scrollbar-gutter: stable;
}

.row2 > div {
    width: 100%;
    /*border-bottom: 1px solid black;*/
    border-left: 1px solid black;
    padding: 25px 0;
}

.row2 .corner {
    width: 15%;
}

.corner div {
    /*border-left: 1px solid black;
    border-bottom: 1px solid black;*/
}

.column div {
    /*border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding: 25px 0;*/
}

.column:first-child div {
    border-left: none; /* remove left border from first column */
}
