* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: "Playpen Sans", "Comic Sans MS", cursive;
}

html, body, #root {
  height: 100%;
}


.topBarCalendar {
    height: 5%;
    border: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.calendar-containter {
    height: 100%;
    border: 2px solid limegreen;
}

.row1 {
    height: 5%;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    scrollbar-gutter: stable;
    border-bottom: 1px solid black;
}

.row1 div {
    border-left: 1px solid black;
    padding: 12px 0;
    width: 100%;
    /*Centering the days of the week text*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.row1 div:last-child {
    border-right: 1px solid black;
}

/*Can not just target .corner because of specificity*/
/*38.969 x 30*/
.row1 .corner {
    width: 35%;
    border: none;
}

.corner span {
    visibility: hidden;
}

.row2 {
    height: 90%;
    display: flex;
}

.row2 > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    /*padding: 25px 0;*/
}

.row2 .corner {
    width: 35%;
}

.row2 .column:last-child {
    border-right: 1px solid black;
}

.row2 .column div {
    /*border: 1px solid black;*/
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    height: 100%;
}




.column:first-child div {
    border-left: none; /* remove left border from first column */
}
