* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: "Playpen Sans", "Comic Sans MS", cursive;
}

.topBarCalendar {
    border: 2px solid black;
    padding: 20px 0;
}

.calendar-containter {
    border: 2px solid black;
    padding: 15px;
    height: 20%;
}

/*.calendar {
    overflow-y: scroll;
    scrollbar-gutter: stable;
}*/

.row1 {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    scrollbar-gutter: stable;
    border-bottom: 1px solid black;
}

/*Can not just target .corner because of specificity*/
.row1 .corner {
    flex: 0 0 52px;
}

.row1 div {
    border-left: 1px solid black;
    padding: 12px 0;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corner span {
    visibility: hidden;
}

.row2 {
    display: flex;
    height: 80dvh;
    overflow-y: scroll;
    scrollbar-gutter: stable;
}

/*Can not just target .corner because of specificity*/
.row2 .corner {
    border-left: 1px solid black;
    flex: 0 0 52px;
}

.row2 > div {
    flex: 1;
}

.column div {
    border-top: 1px solid black;
    border-left: 1px solid black;
    padding: 25px 0;
}

.column:first-child div {
    border-left: none; /* remove left border from first column */
}
